




root { 
    display: block;
}
body {
    height: 100%;
    background-image: url(../images/bgblack.jpg);
    /* background-color: black;  */
    background-position: 50% 0;
    color: red;
    line-height: 1.5;
    font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
    font-size: 80%;
    text-align: center;


}
#contenido {
    width: 960px;
    background: beige;

    margin: 20px auto;
    padding: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid orangered;
    min-height: 600px;

}

#principal {    
    padding: 15px;
    min-height: 400px;


}

#cabecera {
    height: 90px;
    margin: 0 auto; 
    background-image: url(../images/bgblack.jpg);
    border: 2px solid  darkslateblue;

}
#menu {
    background-color: orangered;  
    border: 1px solid wheat;
    width: 100%;
    height: 3em;
    color: white;
    font-family: "Rockwell";
    font-size: 16px;

}
#primero {
    margin-left: 9em;
}


#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: green;
}
#menu ul {     
    list-style-type: none;
    text-align: left;
}

#menu ul li {
    display: inline;
    border-right: 1px solid wheat;
    padding-right: 2em;
    padding-left: 2em;

}
#cabecera h1{
    text-align: center;
    color: pink;
    font-family: "Rockwell";
    letter-spacing: 3px;


}
#principal .pelicula {
    border: 1px dotted red;
    text-align: left;
    width: 60%;
    margin: 5px;
    padding-left: 10px;

}

#principal .actor {
    border: 1px dotted red;
    text-align: left;
    width: 60%;
    margin: 5px;
    padding-left: 10px;
    background-color: lightgray;
    color: darkslategray;

}

#principal h1, h2 {

    text-align: left;


}
.pelicula a {
    text-decoration: none;
}

#pie {

    margin: 0 auto;
    color: orangered;
    border-top:  3px solid orangered;

}
#pie p {
    text-align: center;
    font-size: smaller;

}



h1, h2, h3, h4 {
    color: darkslategray;
}

table {
    border: 1px solid forestgreen;
    border-collapse: collapse;
    margin-left: 180px;
    width: 60%;
}

td, th {
    border: 1px solid forestgreen;
    padding: .4em .5em .4em .5em;
    vertical-align: top;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #C4F1FF;
 
}
th {
    font-weight: bold;
    background-color: #a2c9e1;
   
}


label {
    width: 10em;
    padding-right: 1em;
    float: left;
}
label.radio{
    width: 2em;
     
}


br {
    clear: left;
}
.resultado {
    margin-top: 5em;
    padding: 1px;
    color: darkslateblue;
    margin-left: 10em;
}
.errores {
    padding-left:  5px;
    color:  red;
    font-size: small;
}




   <!-- formulario  -->



h1
{
    color: #036843;
    text-align: center;
}

form 
{
  background-color: #fff1f1;
  padding: 30px;
  box-shadow: 0px 0px 10px #cccccc;
  font-family: sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0 auto;
  width: 600px;
}

input, select 
{
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

input[type = "submit"] 
{
    width: 100%;
    background-color: #ff0000;
    color: #ffffff;
    border: 1px solid #cccccc;
    padding: 8px;
}

form input[type = "radio"]
{
    margin-left: 2em;
    width: 2em;
    float: none;
}

form input[type = "checkbox"]
{
    margin-left: 2em;
    width: 2em;
    float: none;
}

form input[type = "submit"]
{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}