.main{
background: #06e63e;
background: linear-gradient( #85cdf7,#f3a4d6, #15c993);
padding: 100px 0;
width: 100%;
min-height: 100vh;
}


.main h1{
font-size: 50px;
color: greenyellow;
text-align: center;
}


.img{
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
}



.cap{
font-size: 40px;
color: black;
margin-bottom: 30px;
}

li{
display:table;
margin: 0px auto 0px auto;
}

.cap a{
color: blue;
}































/*Back Home Btn*/

.backhome__btn {
  
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #f0b767, #ee7474, #9766b8);
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    display: flex;
    margin: 0 auto;
}
  
  
.backhome__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
   
/*Back Home Btn Effect*/    
    
.backhome__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #87fcaa;
    transition: all 0.35s;
    border-radius: 4px;
}
        
    
.backhome__btn:hover {
    color: #fff;
}
        
    
.backhome__btn:hover:after {
    width: 100%;
}
  